<h1>Listing custmers</h1>

<table>
  <tr>
    <th>Bookname</th>
    <th>Price</th>
    <th>Custmer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @custmers.each do |custmer| %>
  <tr>
    <td><%= custmer.bookname %></td>
    <td><%= custmer.price %></td>
    <td><%= custmer.custmer_id %></td>
    <td><%= link_to 'Show', custmer %></td>
    <td><%= link_to 'Edit', edit_custmer_path(custmer) %></td>
    <td><%= link_to 'Destroy', custmer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Custmer', new_custmer_path %>
